<div class="ui large top fixed borderless hidden menu">
    <div class="ui container">
        <a class="header item" href="{{ '/' | relative_url }}">
            <div class="ui middle aligned image">
                <img class="logo-image" src="{{ site.logo_dark }}" alt="Logo">
            </div>
            <div class="logo-text">{{ site.alias_en }}</div>
        </a>
        {% include menu_items.html %}
        <div class="right menu">
            <a class="item" href="{{ site.repository_url }}" target="_blank"><i class="github icon"></i>GitHub</a>
        </div>
    </div>
</div>