<div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">Built with</h4>
                <div class="ui inverted link list">
                    {% for item in site.data.built_with %}<a class="item" href="{{ item.url }}" target="_blank">{{ item.name }}</a>{% endfor %}
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Powered by</h4>
                <div class="ui inverted link list">
                    {% for item in site.data.powered_by %}<a class="item" href="{{ item.url }}" target="_blank">{{ item.name }}</a>{% endfor %}
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">About</h4>
                <div class="ui inverted link list">
                    <a class="item" href="{{ site.author_url }}" target="_blank">{{ site.author }}</a>
                    <a class="item" href="{{ site.organization_url }}" target="_blank">{{ site.organization }}</a>
                    <a class="item" href="{{ '/donate/' | relative_url }}">Donate</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">{{ site.title }}</h4>
                <div class="ui inverted link list">
                    <div class="item">&copy; {{ site.time | date: "%Y" }} {{ site.organization }}</div>
                    <div class="item">Designed and built with all the love and passion in the world by {{ site.author }}.</div>
                    <a class="item" href="{{ '/analytics/' | relative_url }}">
                        Visits / Page Views:
                        <span id="today-visits">0</span> / <span id="today-actions">0</span> (Today)
                        &middot;
                        <span id="yesterday-visits">0</span> / <span id="yesterday-actions">0</span> (Yesterday)
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>