<div class="ui inverted vertical masthead center aligned segment zoomed">
    <div class="ui container">
        <div class="ui large borderless inverted menu" style="border: none;">
            <div class="toc link icon item"><i class="sidebar icon"></i></div>
            <a class="header item" href="{{ '/' | relative_url }}">
                <div class="ui middle aligned image">
                    <img class="logo-image" src="{{ site.logo_white }}" alt="Logo">
                </div>
                <div class="logo-text">{{ site.alias_en }}</div>
            </a>
            {% include menu_items.html %}
            <div class="right menu">
                <a class="item" href="{{ site.repository_url }}" target="_blank"><i class="github icon"></i>GitHub</a>
            </div>
        </div>
    </div>
    {%- if page.active_key == 'home' -%}
        {% include search.html %}
    {%- else -%}
        <div class="ui text container">
            {% assign page_icon = nil %}
            {%- for item in site.data.menu_items -%}
                {%- if item.active_key == page.active_key -%}
                    {% assign page_icon = item.icon %}
                {%- endif -%}
            {%- endfor -%}
            <h1 class="ui inverted header">{% if page_icon %}<i class="{{ page_icon }} icon"></i>{% elsif page.icon %}<i class="{{ page.icon }} icon"></i>{% endif %}{{ page.title }}</h1>
            {%- if page.active_key == 'customize' -%}
                <div class="ui orange label"><i class="tag icon"></i>Beta Feature</div>
            {%- elsif page.active_key == 'analytics' -%}
                <div id="established-at" class="ui black labels"></div>
                <div class="ui black label"><i class="history icon"></i><span id="total-actions">0</span><div class="detail">PV</div></div>
            {%- elsif page.active_key == 'donate' -%}
                <h2 class="ui inverted header">请为辛苦的开发者众筹一杯星冰乐</h2>
            {%- endif -%}
        </div>
    {%- endif -%}
</div>