<div class="ui large secondary inverted pointing menu" style="border: none;">
    <a class="toc item"><i class="sidebar icon"></i></a>
    <a class="active item loading-trigger" href="./"><i class="yellow star icon"></i>北邮人导航</a>
    <a class="item loading-trigger" href="./analytics/"><i class="line chart icon"></i>访客分析</a>
    <a class="item loading-trigger" href="./donate/" title="买雪糕给辛苦滴程序猿和设计师"><i class="heart icon"></i>支持一发</a>
    <div class="right menu">
        <a class="item" href="{{ site.repository }}" target="_blank"><i class="github icon"></i>GitHub</a>
    </div>
</div>
