<div class="ui text container">
    {% include banner.html %}
    <h1 class="ui inverted logo header">
        <img class="ui centered image" src="{{ site.logo_white }}" alt="Logo">
    </h1>
    <h2 class="ui inverted header">{{ site.title }}</h2>
    <div id="search-shortcuts" class="ui labels">
        {% for item in site.data.search_services %}{% if item.shortcut %}<a class="ui {{ item.shortcut.style }} label{% unless item.shortcut.show %} hidden{% endunless %}" data-search-service-id="{{ item.id }}" data-tooltip="{{ item.name }}" data-variation="mini basic" data-position="top center" data-inverted=""><i class="{{ item.shortcut.icon }} fitted icon"></i></a>{% endif %}{% endfor %}
    </div>
    <div class="ui inverted fluid right action input" id="search-div">
        <input id="search-query" type="text" placeholder="立即搜索" autofocus="autofocus">
        <select id="search-services" class="ui compact selection dropdown">
            {% for item in site.data.search_services %}<option id="{{ item.id }}" value="{{ item.id }}" data-url="{{ item.url }}" {% if item.transcode %}data-transcode="true" data-transcode-from="{{ item.transcode.from }}" data-transcode-to="{{ item.transcode.to }}"{% else %}data-transcode="false"{% endif %}>{{ item.name }}</option>{% endfor %}
        </select>
        <div id="search-button" class="ui black icon button"><i class="search icon"></i></div>
    </div>
    <div id="badges">
        <a id="github-watch" href="{{ site.repository_url }}/watchers" target="_blank"><img src="https://img.shields.io/github/watchers/{{ site.repository }}.svg?style=social&label=Watch" alt="GitHub Watchers"></a>
        <a id="github-star" href="{{ site.repository_url }}/stargazers" target="_blank"><img src="https://img.shields.io/github/stars/{{ site.repository }}.svg?style=social&label=Star" alt="GitHub Stargazers"></a>
        <a id="github-fork" href="{{ site.repository_url }}/network/members" target="_blank"><img src="https://img.shields.io/github/forks/{{ site.repository }}.svg?style=social&label=Fork" alt="GitHub Forks"></a>
        <a id="version" href="{{ site.repository_url }}/commits" target="_blank"><img src="https://img.shields.io/badge/%E6%9B%B4%E6%96%B0%E4%BA%8E-loading-orange.svg" alt="Update Time"></a>
        <a id="today-visitors" href="{{ '/analytics/' | relative_url }}"><img src="https://img.shields.io/badge/%E4%BB%8A%E6%97%A5%E8%AE%BF%E5%AE%A2-loading-orange.svg" alt="Today Visitors"></a>
        <a id="live-visitors" href="{{ '/analytics/' | relative_url }}"><img src="https://img.shields.io/badge/%E5%BD%93%E5%89%8D%E5%9C%A8%E7%BA%BF-loading-orange.svg" alt="Live Visitors"></a>
    </div>
    <div class="ui inverted selection link list">
        <a class="item" href="{{ '/donate/' | relative_url }}">请为辛苦的开发者众筹一杯星冰乐</a>
    </div>
    <div class="ui black label"><i class="globe icon"></i>支持 IPv6 访问</div>
</div>