<div class="ui text container">
    <h1 class="ui inverted header"><i id="logo" class="fa fa-star fa-fw" aria-hidden="true"></i></h1>
    <h2>{{ site.name }}</h2>
    <div class="ui inverted fluid left icon right action input" id="search-div">
        <i class="search icon"></i>
        <input id="search-query" type="text" placeholder="立即搜索">
        <select id="search-services" class="ui compact selection dropdown">
            {% for item in site.data.search_services %}<option id="{{ item.id }}" value="{{ item.id }}" data-url="{{ item.url }}" data-suffix="{% if item.suffix %}{{ item.suffix }}{% endif %}">{{ item.name }}</option>{% endfor %}
        </select>
        <div id="search-button" class="ui icon button">Go</div>
    </div>
    <div class="ui labels shortcuts">
        {% for item in site.data.search_services %}{% if item.shortcut %}<a class="ui {{ item.style }} label" data-search-service-id="{{ item.id }}">{% if item.icon %}<i class="{{ item.icon }} icon"></i>{% endif %}{{ item.shortcut }}</a>{% endif %}{% endfor %}
    </div>
    <div class="badges">
        <a id="github-watch" href="{{ site.repository_url }}/watchers" target="_blank"><img src="https://img.shields.io/github/watchers/{{ site.repository }}.svg?style=social&label=Watch" alt="GitHub Watchers"></a>
        <a id="github-star" href="{{ site.repository_url }}/stargazers" target="_blank"><img src="https://img.shields.io/github/stars/{{ site.repository }}.svg?style=social&label=Star" alt="GitHub Stargazers"></a>
        <a id="github-fork" href="{{ site.repository_url }}/network/members" target="_blank"><img src="https://img.shields.io/github/forks/{{ site.repository }}.svg?style=social&label=Fork" alt="GitHub Forks"></a>
        <a id="version" href="{{ site.repository_url }}/commits" target="_blank" data-update-at="{{ site.time | date_to_xmlschema }}"><img src="https://img.shields.io/badge/%E6%9B%B4%E6%96%B0%E4%BA%8E-loading-orange.svg" alt="Update Time"></a>
        <a id="visit" class="loading-trigger" href="{{ '/analytics/' | relative_url }}"><img src="https://img.shields.io/badge/%E4%BB%8A%E6%97%A5%E8%AE%BF%E5%AE%A2-loading-orange.svg" alt="Today Visitors"></a>
    </div>
    <div class="ui inverted link list">
        <a class="item loading-trigger" href="{{ '/donate/' | relative_url }}">请为辛苦滴开发者众筹一杯咖啡</a>
    </div>
</div>