---
layout: default
title: 定制化
active_key: customize
---

<div class="ui vertical stripe segment">
    <div class="ui container">
        <div class="ui warning message">
            <div class="header">温馨提示</div>
            <ul>
                <li>该定制化服务仍处于测试与迭代研发阶段。</li>
                <li>该项服务依赖于浏览器的Cookie功能，若要使用此服务，请确保您的浏览器的Cookie功能被启用。</li>
                <li>您的定制化内容将仅保存在您的浏览器Cookie中，本网站对任何形式的个人定制化数据的遗失概不负责。</li>
                <li>本网站不保证在未来保留部分或全部该服务的内容，但网站代码对外开源，欢迎Fork。</li>
            </ul>
        </div>
        <h2 class="ui header">快捷搜索菜单</h2>
        <table class="ui sortable selectable celled table">
            <thead>
                <tr>
                    <th>搜索服务</th>
                    <th>URL</th>
                    <th>预览样式</th>
                    <th>可见性</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for item in site.data.search_services %}{% if item.shortcut %}<tr id="{{ item.id }}" class="shortcut">
                    <td>{{ item.name }}</td>
                    <td><code>{{ item.url }}</code></td>
                    <td><div class="ui {{ item.shortcut.style }} label shortcut-preview" data-tooltip="{{ item.name }}" data-variation="mini basic" data-position="top center" data-inverted=""><i class="{{ item.shortcut.icon }} fitted icon"></i></div></td>
                    {% if item.shortcut.show %}<td class="active shortcut-visibility">显示</td>{% else %}<td class="shortcut-visibility">隐藏</td>{% endif %}
                    <td>{% if item.shortcut.show %}<a class="ui mini grey icon button shortcut-toggle-show" data-search-service-id="{{ item.id }}" data-show="true" data-tooltip="标记“隐藏”" data-variation="mini basic" data-position="top center" data-inverted=""><i class="eye icon"></i></a>{% else %}<a class="ui mini icon button shortcut-toggle-show" data-search-service-id="{{ item.id }}" data-show="false" data-tooltip="标记“显示”" data-variation="mini basic" data-position="top center" data-inverted=""><i class="eye slash icon"></i></a>{% endif %}</td>
                </tr>{% endif %}{% endfor %}
            </tbody>
        </table>
        <a id="reset-cookie" class="ui negative left labeled icon button"><i class="undo icon"></i>全部重置</a>
    </div>
</div>