<!DOCTYPE html>
<html>
<head>
    {% include meta.html %}
    {% include semantic_ui_css.html %}
    {% include font_awesome.html %}
    <!-- Customized CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/customize.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/customize-masthead.css">
    {% include favicons.html %}
    {% include analytics.html %}
</head>
<body>
    <!-- Following Menu -->
    <div class="ui large top fixed borderless hidden menu">
        <div class="ui container">
            <a class="active item loading-trigger" href="./"><i class="yellow star icon"></i>北邮人导航</a>
            <a class="item loading-trigger" href="./analytics/"><i class="line chart icon"></i>访客分析</a>
            <a class="item loading-trigger" href="./donate/" title="买雪糕给辛苦滴程序猿和设计师"><i class="heart icon"></i>支持一发</a>
            <div class="right menu">
                <a class="item" href="https://github.com/iROCKBUNNY/BYR-Navi" target="_blank"><i class="github icon"></i>GitHub</a>
            </div>
        </div>
    </div>
    <!-- Sidebar Menu -->
    <div class="ui vertical inverted sidebar menu">
        <a class="active item loading-trigger" href="./"><i class="yellow star icon"></i>北邮人导航</a>
        <a class="item loading-trigger" href="./analytics/"><i class="line chart icon"></i>访客分析</a>
        <a class="item loading-trigger" href="./donate/" title="买雪糕给辛苦滴程序猿和设计师"><i class="heart icon"></i>支持一发</a>
        <a class="right item" href="https://github.com/iROCKBUNNY/BYR-Navi" target="_blank"><i class="github icon"></i>GitHub</a>
    </div>
    <!-- Page Contents -->
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment zoomed">
            <div class="ui container">
                <div class="ui large secondary inverted pointing menu" style="border: none;">
                    <a class="toc item"><i class="sidebar icon"></i></a>
                    <a class="active item loading-trigger" href="./"><i class="yellow star icon"></i>北邮人导航</a>
                    <a class="item loading-trigger" href="./analytics/"><i class="line chart icon"></i>访客分析</a>
                    <a class="item loading-trigger" href="./donate/" title="买雪糕给辛苦滴程序猿和设计师"><i class="heart icon"></i>支持一发</a>
                    <div class="right menu">
                        <a class="item" href="https://github.com/iROCKBUNNY/BYR-Navi" target="_blank"><i class="github icon"></i>GitHub</a>
                    </div>
                </div>
            </div>
            <div class="ui text container">
                <h1 class="ui inverted header"><i id="logo" class="fa fa-star"></i></h1>
                <h2>北邮人导航 &middot; BYR-Navi</h2>
                <div class="ui inverted fluid left icon action input" id="search-div">
                    <i class="search icon"></i>
                    <input id="search-query" type="text" placeholder="立即搜索">
                    <select class="ui compact selection dropdown" id="search-services"></select>
                    <div id="search-button" type="submit" class="ui icon button">Go</div>
                </div>
                <div class="ui inverted horizontal link list">
                    <a id="stargazer" class="item" href="https://github.com/iROCKBUNNY/BYR-Navi/stargazers" target="_blank"></a>
                    <a id="fork" class="item" href="https://github.com/iROCKBUNNY/BYR-Navi/network/members" target="_blank"></a>
                    <a id="version" class="item" href="https://github.com/iROCKBUNNY/BYR-Navi/commits" target="_blank"></a>
                </div>
                <div class="ui inverted link list">
                    <a class="item loading-trigger" href="./analytics/">您是今天莅临本站的 <span id="visit">0</span> 位重要访客之一</a>
                    <a class="item loading-trigger" href="./donate/">买雪糕给辛苦滴程序猿和设计师</a>
                </div>
            </div>
        </div>
        <div id="links">
            <div class="ui vertical stripe links segment">
            <div id="page-loading-progress" class="ui top attached blue inverted progress">
                <div class="bar"></div>
            </div>
                <div class="ui equal width stackable internally celled grid">
                    <div id="public-links" class="center aligned row"></div>
                </div>
            </div>
            <div class="ui vertical stripe links segment">
                <div class="ui equal width stackable internally celled grid">
                    <div id="byr-links" class="center aligned row"></div>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </div>
    {% include contacts_dimmer.html %}
    {% include jquery.html %}
    {% include semantic_ui_js.html %}
    {% include moment.html %}
    {% include count_up.html %}
    {% include js_cookie.html %}
    <!-- Query Suggestions -->
    <script type="text/javascript" src="./assets/js/query-suggest.js"></script>
    <!-- Cutomized JS -->
    <script type="text/javascript" src="./assets/js/customize.js"></script>
    <script type="text/javascript" src="./assets/js/customize-home.js"></script>
</body>
</html>